*{
    padding: 0%;
   margin:  0%;
    overflow-x: hidden;
  
}
body{
   background-color: rgb(175, 176, 177);
 
}
.container_head{  
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
 
}
.head_1{
    scroll-snap-align: start;
    padding-bottom: 100vh;
    background-image: url(../photo/many_dear.jpg);
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
.head_2{
    padding-bottom: 100vh;
    background-image: url(../photo/1369307.png);
    background-repeat:no-repeat;
    background-size:100% 100vh;
   
    }
.head_3{
        padding-bottom: 100vh;
    }
