*{
    padding: 0%;
   margin:  0%;
}
body{
   background-color: rgb(175, 176, 177);
   height: 100%;
}
.container_head{  
    position: relative;
    background-image: url(../photo/many_dear.jpg);
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
.head_1{
padding-bottom: 100vh;
}
.head_2{
    padding-bottom: 100vh;
    }
