*{
    padding: 0%;
    margin:  0%; 
    overflow-y:hidden;
}
body{
   background-color: aqua;

}
.container_head{  
    max-height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    position: relative;

   
}
::-webkit-scrollbar{
    width: 2px;
    background-color: black;
    
}

::-webkit-scrollbar-track{
    /* background-color: transparent; */
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 12px;
}
.head_1{
    scroll-snap-align: start;
    padding-bottom: 100vh;
    background-image: url(../photo/many_dear.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.head_2{
    scroll-snap-align: start;
    padding-bottom: 100vh;
    background-image: url(../photo/1369307.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.head_2>h1{
    display: grid;
    place-content: center;
    padding: 10px;
}
#nun_1{
  /* ahhhhhhhhhhhhhhhhhhhhhhhhhhhh */
}
#id_1{
    padding-top: 10px;
    margin: 20px;
  
}
.head_3{
    scroll-snap-align: start;
    padding-bottom: 100vh;
    background-image: url(../photo/1368856.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }
